extends layout

block content
  h1= title
  p Welcome to #{title}
  p.
    ID: #{user.id}
    Username: #{user.username}
  p Time is #{(function(){var d=new Date(); return d.getSeconds()})()}

  form(action="#")
    input#m(autocomplete="off")
    button#mybtn Send

  ul#messages

  script(src="socket.io/socket.io.js")
  script(src="/resources/jquery.js")
  script.
    var socket = io('https://rylan.coffee/first_express_app/socket.io', {path: '/first_express_app/socket.io'});
    $('#mybtn').click(function(){console.log('af'); socket.emit('chat message', $('#m').val()); $('#m').val('');return false;});
    socket.on('chat message', function(msg) {console.log(msg);$('#messages').append($('<li>').text(msg))});
